nav
{
	width: 100vw;
	height: 40px;
	top: 0px;
	visibility: visible;
	position: fixed;
	background-color: rgb(25, 28, 30);
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
}
nav span
{
	width: 70vw;
	margin-top: -40px;
	margin-left: 30vw;
	display: flex;
	justify-content: space-around;
}
nav a
{
	width: 5vw;
	color: white;
	font-size: 0.9em;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	border-top: 0px;
	transition: border 0.3s;
}
nav a:hover
{
	border-top: 3px solid rgb(217, 217, 217);
	transition: border 0.3s;
}
nav p
{
	margin-left: 3vw;
	color: white;
	font-size: 1.2em;
	line-height: 40px;
	text-decoration: none;
}
